In [10]:
import pandas as pd
from pathlib import Path
import hvplot.pandas
import matplotlib.pyplot as plt

In [24]:
#Open lon & Lad csv of CA
Path="Resources/us-zip-code-latitude-and-longitude.csv"
df=pd.read_csv(Path)
df

,Zip,City,State,Latitude,Longitude,Timezone,Daylight savings time flag,geopoint
0,95717,Gold Run,CA,39.177026,-120.845100,-8,1,"39.177026, -120.8451"
1,94564,Pinole,CA,37.997509,-122.292080,-8,1,"37.997509, -122.29208"
2,91605,North Hollywood,CA,34.208142,-118.401100,-8,1,"34.208142, -118.4011"
3,91102,Pasadena,CA,33.786594,-118.298662,-8,1,"33.786594, -118.298662"
4,95019,Freedom,CA,36.935552,-121.779720,-8,1,"36.935552, -121.77972"
...,...,...,...,...,...,...,...,...
2711,94702,Berkeley,CA,37.865026,-122.285900,-8,1,"37.865026, -122.2859"
2712,94115,San Francisco,CA,37.786129,-122.437360,-8,1,"37.786129, -122.43736"
2713,95298,Stockton,CA,37.889849,-121.253872,-8,1,"37.889849, -121.253872"
2714,96127,Susanville,CA,40.446063,-120.664132,-8,1,"40.446063, -120.664132"
2715,95546,Hoopa,CA,41.161505,-123.724440,-8,1,"41.161505, -123.72444"

In [34]:
#filter
display(df.columns)
cord_df=df[['Zip', 'City', 'Latitude', 'Longitude'] ]
cord_df=cord_df.drop_duplicates(subset=["City"])
cord_df

Index(['Zip', 'City', 'State', 'Latitude', 'Longitude', 'Timezone',
       'Daylight savings time flag', 'geopoint'],
      dtype='object')

        Zip                City   Latitude   Longitude
0     95717            Gold Run  39.177026 -120.845100
1     94564              Pinole  37.997509 -122.292080
2     91605     North Hollywood  34.208142 -118.401100
3     91102            Pasadena  33.786594 -118.298662
4     95019             Freedom  36.935552 -121.779720
...     ...                 ...        ...         ...
2699  95429            Dos Rios  39.761199 -123.335470
2707  92258  North Palm Springs  33.921502 -116.567030
2708  92363             Needles  34.808718 -114.626640
2709  91706        Baldwin Park  34.087108 -117.969660
2715  95546               Hoopa  41.161505 -123.724440

[1243 rows x 4 columns]

In [8]:
#

Zip;City;State;Latitude;Longitude;Timezone;Daylight savings time flag;geopoint   -120.8451
Name: 95717;Gold Run;CA;39.177026;-120.8451;-8;1;39.177026, dtype: float64